In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/ETH_1H.csv')

In [4]:
df.head()

,Unix Timestamp,Date,Symbol,Open,High,Low,Close,Volume
0,1586995200000,2020-04-16 00:00:00,ETHUSD,152.94,152.94,150.39,150.39,650.188125
1,1586991600000,2020-04-15 23:00:00,ETHUSD,155.81,155.81,151.39,152.94,4277.567299
2,1586988000000,2020-04-15 22:00:00,ETHUSD,157.18,157.30,155.32,155.81,106.337279
3,1586984400000,2020-04-15 21:00:00,ETHUSD,158.04,158.31,157.16,157.18,55.244131
4,1586980800000,2020-04-15 20:00:00,ETHUSD,157.10,158.10,156.87,158.04,144.262622

In [10]:
df.drop(columns='Unix Timestamp', inplace=True)

In [11]:
df.head()

                  Date  Symbol    Open    High     Low   Close       Volume
0  2020-04-16 00:00:00  ETHUSD  152.94  152.94  150.39  150.39   650.188125
1  2020-04-15 23:00:00  ETHUSD  155.81  155.81  151.39  152.94  4277.567299
2  2020-04-15 22:00:00  ETHUSD  157.18  157.30  155.32  155.81   106.337279
3  2020-04-15 21:00:00  ETHUSD  158.04  158.31  157.16  157.18    55.244131
4  2020-04-15 20:00:00  ETHUSD  157.10  158.10  156.87  158.04   144.262622

In [12]:
df.loc[0, 'Date'].day_name()

AttributeError: 'str' object has no attribute 'day_name'

In [16]:
df['Date'] = pd.to_datetime(df['Date'])

In [17]:
df.loc[0, 'Date'].day_name()

'Thursday'

In [18]:
df['Date'].dt.day_name()

0         Thursday
1        Wednesday
2        Wednesday
3        Wednesday
4        Wednesday
           ...
34492       Monday
34493       Monday
34494       Monday
34495       Monday
34496       Monday
Name: Date, Length: 34497, dtype: object

In [19]:
df['Day'] = df['Date'].dt.day_name()

In [21]:
df.drop(columns='Dtae', inplace=True)

In [22]:
df.head()

,Date,Symbol,Open,High,Low,Close,Volume,Day
0,2020-04-16 00:00:00,ETHUSD,152.94,152.94,150.39,150.39,650.188125,Thursday
1,2020-04-15 23:00:00,ETHUSD,155.81,155.81,151.39,152.94,4277.567299,Wednesday
2,2020-04-15 22:00:00,ETHUSD,157.18,157.30,155.32,155.81,106.337279,Wednesday
3,2020-04-15 21:00:00,ETHUSD,158.04,158.31,157.16,157.18,55.244131,Wednesday
4,2020-04-15 20:00:00,ETHUSD,157.10,158.10,156.87,158.04,144.262622,Wednesday

In [23]:
df['Date'].min()

Timestamp('2016-05-09 13:00:00')

In [24]:
df['Date'].max()

Timestamp('2020-04-16 00:00:00')

In [25]:
df['Date'].max() - df['Date'].min()

Timedelta('1437 days 11:00:00')

In [28]:
filt = df['Date'] >= '2020'
df.loc[filt]

,Date,Symbol,Open,High,Low,Close,Volume,Day
0,2020-04-16 00:00:00,ETHUSD,152.94,152.94,150.39,150.39,650.188125,Thursday
1,2020-04-15 23:00:00,ETHUSD,155.81,155.81,151.39,152.94,4277.567299,Wednesday
2,2020-04-15 22:00:00,ETHUSD,157.18,157.30,155.32,155.81,106.337279,Wednesday
3,2020-04-15 21:00:00,ETHUSD,158.04,158.31,157.16,157.18,55.244131,Wednesday
4,2020-04-15 20:00:00,ETHUSD,157.10,158.10,156.87,158.04,144.262622,Wednesday
...,...,...,...,...,...,...,...,...
2540,2020-01-01 04:00:00,ETHUSD,129.83,129.96,129.13,129.54,2807.129465,Wednesday
2541,2020-01-01 03:00:00,ETHUSD,130.25,130.30,129.42,129.83,883.017780,Wednesday
2542,2020-01-01 02:00:00,ETHUSD,129.95,130.58,129.95,130.25,527.921168,Wednesday
2543,2020-01-01 01:00:00,ETHUSD,128.11,130.01,128.11,129.95,220.239530,Wednesday
2544,2020-01-01 00:00:00,ETHUSD,128.84,128.84,128.07,128.11,526.980282,Wednesday

In [30]:
filt = df['Date'] >= pd.to_datetime('2019-01-01')
df.loc[filt]

,Date,Symbol,Open,High,Low,Close,Volume,Day
0,2020-04-16 00:00:00,ETHUSD,152.94,152.94,150.39,150.39,650.188125,Thursday
1,2020-04-15 23:00:00,ETHUSD,155.81,155.81,151.39,152.94,4277.567299,Wednesday
2,2020-04-15 22:00:00,ETHUSD,157.18,157.30,155.32,155.81,106.337279,Wednesday
3,2020-04-15 21:00:00,ETHUSD,158.04,158.31,157.16,157.18,55.244131,Wednesday
4,2020-04-15 20:00:00,ETHUSD,157.10,158.10,156.87,158.04,144.262622,Wednesday
...,...,...,...,...,...,...,...,...
11297,2019-01-01 04:00:00,ETHUSD,130.83,133.75,130.83,132.09,1035.840465,Tuesday
11298,2019-01-01 03:00:00,ETHUSD,129.79,131.00,129.79,130.83,1307.299291,Tuesday
11299,2019-01-01 02:00:00,ETHUSD,130.98,130.98,129.25,129.79,837.808380,Tuesday
11300,2019-01-01 01:00:00,ETHUSD,131.10,131.10,128.72,130.98,965.092541,Tuesday
11301,2019-01-01 00:00:00,ETHUSD,130.80,131.70,130.00,131.10,1288.434493,Tuesday

In [31]:
df.set_index('Date', inplace=True)

In [32]:
df.head()

,Symbol,Open,High,Low,Close,Volume,Day
Date,,,,,,,
2020-04-16 00:00:00,ETHUSD,152.94,152.94,150.39,150.39,650.188125,Thursday
2020-04-15 23:00:00,ETHUSD,155.81,155.81,151.39,152.94,4277.567299,Wednesday
2020-04-15 22:00:00,ETHUSD,157.18,157.30,155.32,155.81,106.337279,Wednesday
2020-04-15 21:00:00,ETHUSD,158.04,158.31,157.16,157.18,55.244131,Wednesday
2020-04-15 20:00:00,ETHUSD,157.10,158.10,156.87,158.04,144.262622,Wednesday

In [33]:
df.loc['2019']

,Symbol,Open,High,Low,Close,Volume,Day
Date,,,,,,,
2019-12-31 23:00:00,ETHUSD,128.68,128.85,127.82,128.84,857.650259,Tuesday
2019-12-31 22:00:00,ETHUSD,128.40,128.93,127.77,128.68,3050.507350,Tuesday
2019-12-31 21:00:00,ETHUSD,127.87,128.41,127.81,128.40,447.680372,Tuesday
2019-12-31 20:00:00,ETHUSD,127.86,128.30,127.86,127.87,151.711128,Tuesday
2019-12-31 19:00:00,ETHUSD,128.78,128.78,127.86,127.86,2450.933248,Tuesday
...,...,...,...,...,...,...,...
2019-01-01 04:00:00,ETHUSD,130.83,133.75,130.83,132.09,1035.840465,Tuesday
2019-01-01 03:00:00,ETHUSD,129.79,131.00,129.79,130.83,1307.299291,Tuesday
2019-01-01 02:00:00,ETHUSD,130.98,130.98,129.25,129.79,837.808380,Tuesday
2019-01-01 01:00:00,ETHUSD,131.10,131.10,128.72,130.98,965.092541,Tuesday
2019-01-01 00:00:00,ETHUSD,130.80,131.70,130.00,131.10,1288.434493,Tuesday

In [42]:
df.loc['2020-02':'2020-01']

,Symbol,Open,High,Low,Close,Volume,Day
Date,,,,,,,
2020-02-29 23:00:00,ETHUSD,222.93,223.96,217.26,217.35,1247.560462,Saturday
2020-02-29 22:00:00,ETHUSD,223.59,223.76,222.32,222.93,118.446008,Saturday
2020-02-29 21:00:00,ETHUSD,224.81,225.08,223.05,223.59,191.602533,Saturday
2020-02-29 20:00:00,ETHUSD,225.56,225.56,223.55,224.81,158.232905,Saturday
2020-02-29 19:00:00,ETHUSD,225.05,225.92,224.06,225.56,174.783652,Saturday
...,...,...,...,...,...,...,...
2020-01-01 04:00:00,ETHUSD,129.83,129.96,129.13,129.54,2807.129465,Wednesday
2020-01-01 03:00:00,ETHUSD,130.25,130.30,129.42,129.83,883.017780,Wednesday
2020-01-01 02:00:00,ETHUSD,129.95,130.58,129.95,130.25,527.921168,Wednesday
2020-01-01 01:00:00,ETHUSD,128.11,130.01,128.11,129.95,220.239530,Wednesday
2020-01-01 00:00:00,ETHUSD,128.84,128.84,128.07,128.11,526.980282,Wednesday

In [43]:
df.loc['2020-02':'2020-01']['Close'].mean()

195.22266666666667

In [44]:
df['2020-01-01']['High'].max()

132.57

In [45]:
highs = df['High'].resample('D').max()
highs

Date
2016-05-09     12.00
2016-05-10      9.96
2016-05-11     10.47
2016-05-12     12.00
2016-05-13     11.59
               ...
2020-04-12    165.37
2020-04-13    159.51
2020-04-14    162.15
2020-04-15    161.52
2020-04-16    152.94
Freq: D, Name: High, Length: 1439, dtype: float64

In [46]:
df.resample('W').mean()

                  Open        High         Low       Close       Volume
Date
2016-05-15   10.140387   10.310516   10.052387   10.205290    70.896402
2016-05-22   13.042262   13.144048   12.965179   13.066964   242.104139
2016-05-29   12.481012   12.555536   12.385357   12.471012   345.546483
2016-06-05   13.586369   13.651667   13.542202   13.594583   281.854432
2016-06-12   14.287500   14.326190   14.260179   14.297798   309.536737
...                ...         ...         ...         ...          ...
2020-03-22  124.640952  126.387917  122.802262  124.636012  2618.930260
2020-03-29  133.274762  134.287857  132.255714  133.285893  1374.652289
2020-04-05  137.517083  138.314583  136.791310  137.627440   898.945625
2020-04-12  163.601548  164.731071  162.422560  163.693929  1218.547250
2020-04-19  156.890137  157.744384  155.952055  156.778219   695.573831

[206 rows x 5 columns]

In [48]:
df.resample('W').agg({'High':'max', 'Low':'min', 'Close':'mean', 'Volume':'sum'})

              High     Low       Close         Volume
Date
2016-05-15   12.00    0.00   10.205290   10988.942273
2016-05-22   14.77   10.06   13.066964   40673.495362
2016-05-29   14.43   10.41   12.471012   58051.809091
2016-06-05   16.05   12.41   13.594583   47351.544496
2016-06-12   15.75   13.83   14.297798   52002.171838
...            ...     ...         ...            ...
2020-03-22  153.17  100.70  124.636012  439980.283707
2020-03-29  144.14  119.17  133.285893  230941.584515
2020-04-05  150.32  124.09  137.627440  151022.864981
2020-04-12  176.74  142.87  163.693929  204715.937994
2020-04-19  162.15  150.12  156.778219   50776.889638

[206 rows x 4 columns]